{% extends 'base.html' %}

{% block title %} Goodbooks - Search and Review Books {% endblock %}

{% block content %}

    <div class="container">
        {{ book_data['title'], book_data['author'], book_data['year'], book_data['isbn'] }}
        Num ratings: {{ goodreads_data['work_ratings_count'] }}
        Average score: {{ goodreads_data['average_rating'] }}
    </div>

    <div class="container">
        {% if allow_review %}
            <form class="form-inline" action="{{ url_for('books', isbn=book_data['isbn']) }}" method="post">
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <input class="form-control" type="text" id="comment" name="comment" placeholder="Enter a comment">
                </div>
                <div class="form-group">
                    <label for="select">Rating</label>
                    <select class="form-control" id="select" name="rating">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        {% endif %}
        {% for review in reviews %}
        <ul class="list-group">
          <li class="list-group-item">
              <article class="comment">
                <header>
                    <div class="user"> {{ review.username }} </div>
                    <div class="time"> {{ review.created_at }} </div>
                </header>
                <p class="comment_text"> {{ review.comment }} </p>
            </article>
          </li>
        </ul>
        {% endfor %}
    </div>

{% endblock %}