{% extends 'base.html' %}

{% block title %} Goodbooks - Search and Review Books {% endblock %}

{% block header %}
    <form action="{{ url_for('index') }}" method="post">
        <input type="text" name="query" placeholder="Enter book title, author, or ISBN">
        <button>Submit</button>
    <form>
{% endblock %}

{% block content %}
    <ul class="list-group">
        {% for b in books %}
            <li class="list-group-item"><a href="{{ url_for('books', isbn = b.isbn) }}">{{ b.title }}, {{ b.author }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}